*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.all{
    background-color:#D9D9D9;
}

form{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    text-align: center;
    padding: 160px 200px;
}

form .title{
    font-size: 25px;
    margin-bottom: 40px;
}

form label{
    margin-bottom: 30px;
}

form label input{
    border-radius: 20px;
    background-color: #FFF0F5;
    width: 300px;
    height: 40px;
    text-align: center;
}

form label input::placeholder{
    color: black;
}

form .link{
    color: black;
    margin: 15px;
}

form #button{
    color: #ffffff;
    background-color: #7B68EE;
    padding: 8px 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    margin-bottom: 30px;
}

form .boton{
    text-decoration: none;
    color: #ffffff
}

